<!DOCTYPE html>
<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="projet.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://www.creativelive.com/businesshref=">
        <link rel="stylesheet" href="https://youtu.be/z7E1kz7oECk">
        <link rel="stylesheet" href="https://www.creativelive.com/photograph">
        <link rel="stylesheet" href="https://www.creativelive.com/business">
        

    </head>
    <body>
        
        <header>
            <div class="logo">
                <h3>C</h3>
                <h3>R</h3>
                <h3>E</h3>
                <h3>A</h3>
                <h3>T</h3>
                <h3>I</h3>
                <h3>V</h3>
                <h3>E</h3>
                <h3>L</h3>
                <h3>I</h3>
                <h3>V</h3>
                <h3>E</h3>

                <select>
                    <option value="#">CLASSES</option>
                    <option value="#">
                        <span class="material-symbols-outlined no">
                        input_circle 
                        </span>
                        <button>ON AIR NOW</button>
                       
                    </option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                    <option value="#"></option>
                </select>

                <span class="material-symbols-outlined me">
                    search
                </span>

                <input type="search" placeholder="search-Topics,Instructors and more">
        
                <button value="#">SUBSRIBE</button>

                <span class="material-symbols-outlined you">
                    menu
                </span>

            </div>

        </header>

        <section class="section1">
            <div class="vidéo-background">
                <video playinline="playinline" autoplay="autoplay" muted="muted"  loop="loop">
                    <source src="image/hemo/CreativeLive- Do what you love._2.mp4" width="1200" height="1000" type="video/mp4">
                    not supported
                <video>
                
            </div>
            
    
            
                <div class="content">
                    <h1>Do what you love.</h1>
                    <p>learn the skills you need to live your</p>
                    <p>dreams in career, hobby and life.</p>
                    <button>GET STARTED</button>
                </div>
        </section>



            <section class="section2">

            
                <div class="row">
                    <div class="row1">
                        <h2>Subscribe for access to 2000 classes taught by the world's top experts</h2>
                            <nav>
                                <ul>
                                   <li>Get started for less than $13/month</li>
                                   <li>24/7 access via desktop, mobile or TV</li>
                                   <li>New classes added every month</li>
                                   <li>Download lessons for offline viewing</li>
                                   <li>Exclusive content for subscribers</li>
                                </ul>
                            </nav>
                              <button class="more-learn">more learn</button> 
                               
                    </div>
                    <div class="row2">
                        <img src="https://mm.creativelive.com/fit/https%3A%2F%2Fdownloads.creativelive.com%2Fcreator-pass%2Fcallout-photo.jpg/800" width="500" height="300">
                    </div>
                          
                    
                      
                </div>

            </section>





            <section class="section3">
                <h4>EXPLORE OUR CLASSES</h4>
                <div class="explore-our-classes">
                    
                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/How to Start a Photography Business in 12 Weeks or Less.mp4" type="video/mp4">
                        </video>
                    </div>

                    
                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/How to Download Torrent Files Easily (2024 Update).mp4" type="video/mp4">
                        </video>
                    </div>
                    
                    
                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/How To Download GTA Vice City in PC Laptop (2024 Updated)_7.mp4" type="video/mp4">
                         </video>
                    </div>
                    

                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/How to Download Garrys Mod on PC 2024 (Step-by-Step).mp4" type="video/mp4">
                         </video>
                    </div>

                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/Video d'entreprise - corporate Film.mp4" type="video/mp4">
                        </video>
                    </div>
                   
                    <div>
                        <video width="350" height="200" autoplay muted>
                            <source src="image/hemo/What is business..mp4" type="video/mp4">
                        </video>
                    </div>
                   
                    
            </section>


            <section class="section4">
                <div class="galerie">
                    <nav>
                        <ul>
                        <!----><li><p ng-class="{'active':!urlcategory}"class="active"><a href="/filter/"ng-bind="::'see-all-classes'|i18n:'see all classes'"ng-click="onSelect($event,'')">see all classes</a></p></li>
                        <!----><li ng-repeat="taxonomy in customTopics"ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category=categoryById[taxonomy.category]"><!----><p ng-if="!taxonomy.topic" ng-class="{'active':(categoryById[taxonomy.category].slug===urlcategory)&&!urltopic}"class="active"><a href="/filter/photography/"ng-click="onSelect($event,categoryById[taxonomy.category].slug)">photo & video</a></p></li><!----><!---->
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/business/self.development/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Self-Improvement</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/lighting/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">lighting</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/portrait/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">portrait photography</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/business/money-and-finance/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Money & Finance</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/design/illustration/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Illustration</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/photography-poses/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Posing</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/wedding/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Wedding photography</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/design/graphic-desing/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Graphic Design</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/design/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">art & design</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/film-and-video/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">videography</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/adobe-photoshop/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Adobe Photoshop</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/photography/lightroom/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">Adobe Lightroom</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/business/Entrepreurship/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">ENTREPRENEURSHIP</a></p><!----></li>
                        <!----><li ng-repeat="taxonomy in customTopic" ng-init="topic=taxonomy.topic? topicById[taxonomy.topic]: categoryById[taxonomy.category];category = categoryById[taxonomy.category]"><!----><!----><p ng-if="taxonomy.topic" ng-class="{'active':topicById[taxonomy.topic].slug===urlTopic}"class="active"><a href="/filter/craft/"ng-click="onSelect($event,categoryById[taxonomy.category].slug,topicById[taxonomy.topic].slug)">CRAFT & MAKER</a></p><!----></li>
                        <!----><li><p><a href="/catalog" target="_self">AND MORE</a></p></li>
                        </ul>
                    </nav>
                </div>
            </section>
            
            <section class="section5">
                <div class="film">
                    <a  href="https://www.google.com">
                        <video width="230" height="230" controls>
                            <source src="image/hemo/Beyoncé - Say My Name (Live).mp4" type="video/mp4">
    
                        </video>
                        <div>
                            <h3>Design your son:how to</h3>
                            <h3>build a will-lived,joyful live</h3>
                            <p>bill burnett,DAVE EVENS</p>
                        </div>
                       
                    </a>
                        
                </div>

                <div class="film2">
                    <a href="https://www.google.com">
                        <video width="230" height="230" controls>
                            <source src="image/hemo/Présentation du Lumix FZ300.mp4" type="video/mp4">
                        </video>
                        <div>
                            <h3>Fundamentals of</h3>
                            <h3>photography</h3>
                            <p>john Greengo</p>
                        </div> 
                    </a>
                </div>
                
                <div class="film3">
                    <a href="https://www.google.com">
                        <video width="230" height="230" controls>
                            <source src="image/hemo/#7 L'enchaînement des lettres en écriture cursive.mp4" type="video/mp4">
                        </video>
                        <div>
                            <h3>Wired of story:how to</h3>
                            <h3>Become a Story Genius</h3>
                            <p>LISA CRON</p>
                        </div>
                    </a>
                </div>   
                    
                <div class="film4">
                    <a href="https://www.google.com">
                        <video width="230" height="230" controls>
                            <source src="image/hemo/Présentation du Lumix FZ300.mp4" type="video/mp4">
                        </video>
                        <div>
                            <h3>Adobe Lightroom classic:</h3>
                            <h3>the complete Guide</h3>
                            <p>BEN WILLMORE</p>
                        </div>
                    </a>
                </div>      
                    
                
                <div class="film4">
                    <a href="https://www.google.com">
                        <video width="230" height="230" controls>
                            <source src="image/hemo/jeux de voiture de course gratuit avec volant 3D graphisme ultra réaliste -Android gameplay.mp4" type="video/mp4">
                        </video>
                        <div>
                            <h3>Adobe Photoshop CC:the</h3>
                            <h3>Complete Guide</h3>
                            <p>BEN WILLMORE</p>
                        </div>
                    </a>
                </div>        
            </section>       

            <section class="section6">
                
                    <div class="input-type">
                        <label for="search"></label>
                        <input type="search" name="search" placeholder="search topic,instructor and more">
                    </div>
                
                   <div class="loupe">
                       <span class="material-symbols-outlined rien">
                           search
                       </span>
                    </div>
            </section>

            <section class="section-A">
                <div class="text-right">
                    <h1>the go-to community for 10+ million creators</h1>
                </div>
                <div class="text-left">
                    <p>Students learning right now on CreativeLive</p>
                </div>
                <div class="secon-image">
                    <img src="image/hemo/secon1-image.png" width="160%" height="500">
                </div>

                
                <div class="textp">
                   
                        <div class="top1">
                            <img src="image/hemo/photographe.jpeg" width="400" height="300">
                        </div>

                        <div class="top2">
                           <h2>LEARN REAL SKIILS</h2>
                           <P>Whether you need to change</P>
                           <p>your career or learn a quick tip</p>
                           <p>for your gig,CreativeLive will</p>
                           <p>give you the right tools to</p>
                           <p>succeed</p>
                       </div>

                       <div class="top3">
                           <img src="image/hemo/beauté aficaine.jpeg" width="400" height="300">
                       </div>
                     
                        <div class="bad-top1">
                          <h2>LEARN FROM THE BEST</h2>
                          <p>where the world's top creators,</p>
                          <p>iconic entrepreneurs and best</p>
                          <p>in class do-ers teach what they</p>
                          <p>know</p> 
                       </div>
                   
                       <div class="bad-top2">
                          <img src="image/hemo/batler.jpeg" width="400" height="300">
                       </div>
                       
                       <div class="bad-top3">
                          <h2>BY CREATORS FOR CREATORS</h2>
                          <p>We are photographers, Artists</p>
                          <p>Designers, Entrepreneurs,</p>
                          <p>Writers and Doers. We believe</p>
                          <p>there is a creator in all of us</p> 
                       </div>
                </div>
            </section>   
                          
            <div class="sous-titre">
                    <h2>Learn from the industry icons</h2>
                <p>Pulitzer Prize winners. cultural icons. Your new</p>
                <p>instructors. Unlock 700+ greats to inspire,Teach,And</p>
                        <p>support your passion.</p>
            </div>
             
            <section class="section7">
                <div>
                    <video width="300" height="700" controls>
                        <source src="image/hemo/Rise and Grind with Daymond John.mp4" type="video/mp4">
                    </video>
                </div>

                <div>
                    <video width="300" height="700" controls>
                        <source src="image/hemo/How to Ditch Self Doubt and Build Real Confidence with Mel Robbins.mp4" type="video/mp4">
                    </video>
                </div>

                <div>
                    <video width="300" height="700" controls>
                        <source src="image/hemo/The Best Branding Strategies to Grow your Business - Online Class with Jasmine Star.mp4" type="video/mp4">
                    </video>
                </div>
            </section>
            <section class="section8">
                <div class="semi-section">
                              <h2>Students Stories</h2>
                    <p>You aren't alone in your journey!We Spotlight the</p>
                    <p>highs,the lows, and the awkward in-betweens of</p>
                              <p>people just like you</p>
                </div>
            </section>

            <section class="section9">
                <div>
                    <img src="image/hemo/story-alain.jpg" width="200" height="300">
                </div>

                <div>
                    <img src="image/hemo/story-yasmin.jpg" width="200" height="300">
                </div>

                <div>
                    <img src="image/hemo/story-chase.jpg" width="200" height="300">
                </div>
            </section>
            
            <section class="section10">
                <div class="message">
                    <h5>THIS IS A CLASS EVERY
                        PHOTOGRAPHER
                        SHOULD TAKE.I'VE
                        RECOMMENDED IT TO
                        AT LEAST A DOZEN
                        FRIENDS!
                        <p>-Heike L. recommends</p>
                    <a href="#">Fundamentals of Photography with
                               John Greengo</a></h5>
                    
                </div>
                 
                <div class="femme-photo">
                    <img src="image/hemo/Femme photographe.webp" width="550" height="550">
                </div>
            </section>

            <section class="section11">
                <div class="sect11">
                    <h2>Recent blog articles</h2>
                </div>

                <div class="sect12">
                    <div>
                        <img src="image/hemo/sac à dos.jpeg" width="200" height="300">
                    </div>

                    <div>
                        <img src="image/hemo/laptop.jpeg" width="200" height="300">
                    </div>

                    <div>
                        <img src="image/hemo/l'or.jpeg" width="200" height="300">
                    </div>

                    <div>
                        <img src="image/hemo/syllables.jpeg" width="200" height="300">
                    </div>
                </div>
            </section>

            <section class="section13">
                <div class="button-A">
                   <h2>SEE MORE ARTICLES</h2>
                </div>
            </section>

            <footer class="aside1">
                <div>
                   <img src="image/hemo/image footer.jpeg" width="1500" height="500">
                </div>

                <div class="asid1">
                    <h2>There's a reason you're full time with your creativity</h2>
                    <button>GET STARTED</button>
                </div>
            

            
            <div class="footer">
                <div class="footer1">
                    <div class="foo1">
                        <h3>C</h3>
                        <h3>R</h3>
                        <h3>E</h3>
                        <h3>A</h3>
                        <h3>T</h3>
                        <h3>I</h3>
                        <h3>V</h3>
                        <h3>E</h3>
                        <h3>L</h3>
                        <h3>I</h3>
                        <h3>V</h3>
                        <h3>E</h3>
                    </div>

                    <div class="foo2">
                        <div class="foo-A">
                            <h5>terms of use</h5>
                            <h5>privacy policy</h5>
                        </div>
                        <h5>*deals & promotion</h5>
                        <p>This site is protected by reCAPTCHA and the</p>
                        <p>Google Privacy Policy and Terms of Service apply.</p>
                        <p>Copyright @ 2024 CreativeLive, lnc. All rights</p>
                        <p>reserved. CreativeLive is a trademark of</p>
                        <p>CreativeLive, lnc.</p>
                    </div>

                </div>

                
                <div class="footer2">
                    <div class="foo3">
                        <h5>join us</h5>
                        <p>community</p>
                            <div class="foo'3">
                               <p>become an</p>
                               <p>affiliate</p>
                            </div>
                            <div class="foo''3">
                               <p>creative</p>
                               <p>guides</p>
                            </div>
                           <p>for teamspodcasts</p>
                           <p></p>
                    </div>
                    
                

                
                    <div class="foo4">
                        <h5>reach us</h5>
                        <p>contact</p>
                        <p>help</p>
                    </div>

                    <div class="foo5">
                        <h5>company</h5>
                        <p>about</p>
                        <p>instructors</p>
                        <p>stories</p>
                        <p>press</p>
                        <p>blog</p>
                        <p>careers</p>
                    
                    </div>
                </div>

                <div class="footer3">
                    <div class="foo6">
                        <h5>connect</h5>
                        <p>now on iPhone, iPad, Apple TV, Roku</p>
                        <div class="foo6A">
                            <img src="image/hemo/App store.jpeg" width="100" height="25">
                            <img src="image/hemo/google-play-badge.webp" width="100" height="25">
                        </div>

                        <div class="foo6B">
                            <div class="footlogo">
                            
                                <img src="image/hemo/facebook2x.webp"><a href="https://www.facebook.com">
                            </div>
                            <div class="footlogo">
                             
                            <img src="image/hemo/twitter2x.webp"><a href="https://www.twitter.com">
                            </div>
                            <div class="footlogo">
                             
                            <img src="image/hemo/instagram2x.webp"><a href="https://www.instagram.com">
                            </div>
                            <div class="footlogo">
                             
                            <img src="image/hemo/pinterest2x.webp"><a href="https://www.pinterest.com">
                            </div>
                            <div class="footlogo">
                                <img src="image/hemo/youtube2x.webp"><a href="https://www.youtube.com">
                        
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>    
</html>